@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #0f172a;
}

html, body, #root {
    height: 100%;
}

[data-theme='light'] {
    --background-color: #f5f5f5;
}

body {
    background-color: var(--background-color);
    height: 100%;
}

main {
    flex-grow: 1;
}

card {
    /*background-color: #1e293b;*/
    /*color: white;*/
    background-color: white;
    color: black;
}

.icon {
    color: white;
}

.fiIcon {
    min-width: 1.5em;
    min-height: 1.5em;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #888;
    font-style: italic;
}